@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
@import url("//hello.myfonts.net/count/481147");

@font-face {
  font-family: "Gilroy-Light";
  src: url('../src/static/fonts/GilroyLight/font.woff2') format('woff2'),
    url('../src/static/fonts/GilroyLight/font.woff') format('woff');
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url('../src/static/fonts/GilroyMedium/font.woff2') format('woff2'),
    url('../src/static/fonts/GilroyMedium/font.woff') format('woff');
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url('../src/static/fonts/GilroyBold/font.woff2') format('woff2'),
    url('../src/static/fonts/GilroyBold/font.woff') format('woff');
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url('../src/static/fonts/GilroyExtraBold/font.woff2') format('woff2'),
    url('../src/static/fonts/GilroyExtraBold/font.woff') format('woff');
}

@tailwind base;

@layer base {
  h1 {
    font-size: 52px;
    @apply font-ubuntu;
    @apply font-bold;
  }

  h2 {
    font-size: 40px;
    @apply font-ubuntu;
    @apply font-bold;
  }

  h3 {
    font-size: 26px;
    @apply font-ubuntu;
    @apply font-normal;
    @apply leading-tight;
  }

  h4 {
    font-size: 20px;
    @apply font-gilroy-bold;
  }

  h5 {
    font-size: 16px;
    @apply font-gilroy-bold;
  }

  h6 {
    font-size: 14px;
    @apply font-gilroy-medium;
    @apply font-normal;
  }

  p {
    font-size: 16px;
    @apply font-gilroy-medium;
    @apply font-normal;
  }
  
  input[disabled] {
    @apply cursor-not-allowed;
  }

  a {
    @apply transition-colors;
    @apply duration-200;
    @apply ease-out;
    @apply text-cerulean-300;
  }

  a:hover {
    @apply text-cerulean-500;
  }

  .button-icon svg {
    max-width: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

@tailwind components;

@tailwind utilities;

@layer utilities {
  .max-h-0 {
    max-height: 0;
  }

  .max-h-screen {
    max-height: 100vh;
  }

  .aspect-16-9 {
    position: relative;
    width: 100%;
  }

  .aspect-16-9::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: calc(9 / 16 * 100%);
  }

  .aspect-16-9::after {
    content: "";
    display: table;
    clear: both;
  }
}
