@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");

@tailwind base;

@layer base {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 24px;
  }

  input[disabled] {
    @apply cursor-not-allowed;
  }

  a {
    @apply transition-colors;
    @apply duration-200;
    @apply ease-out;
    @apply text-cloud-500;
  }

  a:hover {
    @apply text-cerulean;
  }

  .button-icon svg {
    max-width: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

@tailwind components;

@tailwind utilities;

@layer utilities {
  .max-h-0 {
    max-height: 0;
  }

  .max-h-screen {
    max-height: 100vh;
  }

  .aspect-16-9 {
    position: relative;
    width: 100%;
  }

  .aspect-16-9::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: calc(9 / 16 * 100%);
  }

  .aspect-16-9::after {
    content: "";
    display: table;
    clear: both;
  }
}
